---
layout: intro
---
    <body>
		<!-- Aside Start-->
        <aside class="left-panel">

            <!-- brand -->
            <div class="logo">
                <a href="{{ "/index.html" | prepend: site.baseurl }}" class="logo-expanded">
                    <span class="nav-label">StatisGen</span>
                </a>
            </div>
            <!-- / brand -->
        
            <!-- Navbar Start -->
            <nav class="navigation">
                <ul class="list-unstyled">
                    <li><a href="../index.html"><span class="nav-label">Static
            Site Generator List</span></a></li>
			<li class="active"><a href="../index-codeline.html"><span class="nav-label">Code lines comparison</span></a></li>
		</ul>
            </nav>
                
        </aside>
        <!-- Aside Ends-->


        <!--Main Content Start -->
        <section class="content">
            
            <!-- Header -->
            <header class="top-head container-fluid">
                <button type="button" class="navbar-toggle pull-left">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </header>
            <!-- Header Ends -->
<div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">StatisGen</h3> 
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Static site generator code lines comparison</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <table id="datatable" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Files</th>
                                                    <th>Blank</th>
                                                    <th>Blank %</th>
                                                    <th>Comment</th>
                                                    <th>Comment %</th>
                                                    <th>Code</th>
                                                    <th>Code %</th>
                                                </tr>
                                            </thead>
    {{ content }}
</tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div> <!-- End Row -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                Fork me on github !
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->
        


        <!-- js placed at the end of the document so the pages load faster -->
        <script src={{ "/js/jquery.js" | prepend: site.baseurl }}></script>
        <script src={{ "/js/bootstrap.min.js" | prepend: site.baseurl }}></script>
        <script src={{ "/js/modernizr.min.js" | prepend: site.baseurl }}></script>
        <script src={{ "/js/pace.min.js" | prepend: site.baseurl }}></script>
        <script src={{ "/js/wow.min.js" | prepend: site.baseurl }}></script>
        <script src={{ "/js/jquery.scrollTo.min.js" | prepend: site.baseurl }}></script>
        <script src={{ "/js/jquery.nicescroll.js" | prepend: site.baseurl }} type="text/javascript"></script>
        <script src={{ "/assets/chat/moment-2.2.1.js" | prepend: site.baseurl }}></script>

        <!-- Counter-up -->
        <script src={{ "/js/waypoints.min.js" | prepend: site.baseurl }} type="text/javascript"></script>
        <script src={{ "/js/jquery.counterup.min.js" | prepend: site.baseurl }} type="text/javascript"></script>

        <!-- EASY PIE CHART JS -->
        <script src={{ "/assets/easypie-chart/easypiechart.min.js" | prepend: site.baseurl }}></script>
        <script src={{ "/assets/easypie-chart/jquery.easypiechart.min.js" | prepend: site.baseurl }}></script>
        <script src={{ "/assets/easypie-chart/example.js" | prepend: site.baseurl }}></script>


        <!--C3 Chart-->
        <script src={{ "/assets/c3-chart/d3.v3.min.js" | prepend: site.baseurl }}></script>
        <script src={{ "/assets/c3-chart/c3.js" | prepend: site.baseurl }}></script>

        <!--Morris Chart-->
        <script src={{ "/assets/morris/morris.min.js" | prepend: site.baseurl }}></script>
        <script src={{ "/assets/morris/raphael.min.js" | prepend: site.baseurl }}></script>

        <!-- sparkline --> 
        <script src={{ "/assets/sparkline-chart/jquery.sparkline.min.js" | prepend: site.baseurl }} type="text/javascript"></script>
        <script src={{ "/assets/sparkline-chart/chart-sparkline.js" | prepend: site.baseurl }} type="text/javascript"></script> 

        <!-- sweet alerts -->
        <script src={{ "/assets/sweet-alert/sweet-alert.min.js" | prepend: site.baseurl }}></script>
        <script src={{ "/assets/sweet-alert/sweet-alert.init.js" | prepend: site.baseurl }}></script>

        <script src={{ "/js/jquery.app.js" | prepend: site.baseurl }}></script>
        <!-- Chat -->
        <script src={{ "/js/jquery.chat.js" | prepend: site.baseurl }}></script>
        <!-- Dashboard -->
        <script src="/test/js/sgen/{{ page.namejs }}.js"></script>
        <script src={{ "/assets/datatables/jquery.dataTables.min.js" | prepend: site.baseurl }}></script>
        <script src={{ "/assets/datatables/dataTables.bootstrap.js" | prepend:site.baseurl }}></script>

        <!-- Todo -->
        <script src={{ "/js/jquery.todo.js" | prepend: site.baseurl }}></script>


            <script type="text/javascript">
                $(document).ready(function() {
                        $('#datatable').dataTable();
                                    
        } );
        </script>
    

    </body>
</html>
